{% extends 'base.html.twig' %}

{% block body %}
    <select name="stat">
        <option value="1">Nombre visiteur par catégorie</option>
        <option value="2">Nombre d'enquête réalisée par jour</option>
        <option value="3">Répartition visiteur (Ville/Département)</option>
        <option value="4">Budget max / min achat</option>
        <option value="5">Répartition par popularité des bateaux</option>
    </select>
{% endblock %}

